{% extends 'base.html' %}
{% load static %}
{% block title %}SmartEDU - Education Responsive HTML5 Template{% endblock %}
{% block content %}

	
	<div class="all-title-box">
		<div class="container text-center">
			<h1>Teachers<span class="m_1">Lorem Ipsum dolroin gravida nibh vel velit.</span></h1>
		</div>
	</div>
	
	<div id="teachers" class="section wb">
        <div class="container">
            <div class="row">
				{% for instructor in instructors %}
				<div class="col-lg-3 col-md-6 col-12">
					<div class="our-team">
						<div class="team-img">
							<img src="images/team-01.png">
							<div class="social">
								<ul>
									<li><a href="#" class="fa fa-facebook"></a></li>
									<li><a href="#" class="fa fa-twitter"></a></li>
									<li><a href="#" class="fa fa-linkedin"></a></li>
									<li><a href="#" class="fa fa-skype"></a></li>
								</ul>
							</div>
						</div>
						<div class="team-content">
							<h3 class="title">{{ instructor.first_name}}{{  instructor.last_name}}</h3>
                    <span class="post">{{ instructor.department }}</span>
                    <span class="post">{{ instructor.contact }}</span>
						</div>
					</div>
				</div>
				{% endfor %}
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->	






{% endblock %}